# Bootcfg baremetal boot service

[Unit]
Description=Bootcfg baremetal boot service
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/opt/k8s-install/bin/bootcfg -address 0.0.0.0:8080 -data-path /opt/k8s-install/bootcfg -assets-path /opt/k8s-install/bootcfg/assets -log-level debug
